@page
@model StyleShareWebsite.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Nickname" class="control-label"></label>
                <input asp-for="User.Nickname" class="form-control" />
                <span asp-validation-for="User.Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Blocked" class="control-label"></label>
                <select asp-for="User.Blocked" class="form-control" asp-items="ViewBag.YesNo"></select>
                <span asp-validation-for="User.Blocked" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Admin" class="control-label"></label>
                <select asp-for="User.Admin" class="form-control" asp-items="ViewBag.YesNo"></select>
                <span asp-validation-for="User.Admin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
